/*
Syntax error: Invalid CSS after "}": expected "}", was ""
        on line 253 of /Users/Enkil/Dropbox/Seedlets/scss/_overrides.scss
        from line 3 of /Users/Enkil/Dropbox/Seedlets/scss/app.scss

Backtrace:
/Users/Enkil/Dropbox/Seedlets/scss/_overrides.scss:253
/Users/Enkil/Dropbox/Seedlets/scss/app.scss:3
/Users/Enkil/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/sass-3.2.14/lib/sass/scss/parser.rb:1147:in `expected'
/Users/Enkil/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/sass-3.2.14/lib/sass/scss/parser.rb:1085:in `expected'
/Users/Enkil/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/sass-3.2.14/lib/sass/scss/parser.rb:1080:in `tok!'
/Users/Enkil/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/sass-3.2.14/lib/sass/scss/parser.rb:536:in `block'
/Users/Enkil/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/sass-3.2.14/lib/sass/scss/parser.rb:529:in `ruleset'
/Users/Enkil/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/sass-3.2.14/lib/sass/scss/parser.rb:553:in `block_child'
/Users/Enkil/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/sass-3.2.14/lib/sass/scss/parser.rb:546:in `block_contents'
/Users/Enkil/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/sass-3.2.14/lib/sass/scss/parser.rb:82:in `stylesheet'
/Users/Enkil/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/sass-3.2.14/lib/sass/scss/parser.rb:27:in `parse'
/Users/Enkil/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/sass-3.2.14/lib/sass/engine.rb:342:in `_to_tree'
/Users/Enkil/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/sass-3.2.14/lib/sass/engine.rb:274:in `to_tree'
/Users/Enkil/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:225:in `visit_import'
/Users/Enkil/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/Enkil/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/Enkil/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/Enkil/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/Enkil/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/Enkil/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/Enkil/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/Enkil/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/Enkil/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/Enkil/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/Enkil/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/Enkil/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/Enkil/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/Enkil/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/sass-3.2.14/lib/sass/tree/root_node.rb:20:in `render'
/Users/Enkil/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/sass-3.2.14/lib/sass/engine.rb:315:in `_render'
/Users/Enkil/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/sass-3.2.14/lib/sass/engine.rb:262:in `render'
/Users/Enkil/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/compass-0.12.3/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/Enkil/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/compass-0.12.3/lib/compass/compiler.rb:126:in `timed'
/Users/Enkil/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/compass-0.12.3/lib/compass/compiler.rb:139:in `block in compile'
/Users/Enkil/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/compass-0.12.3/lib/compass/logger.rb:45:in `red'
/Users/Enkil/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/compass-0.12.3/lib/compass/compiler.rb:138:in `compile'
/Users/Enkil/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/compass-0.12.3/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/Enkil/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/compass-0.12.3/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/Enkil/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/compass-0.12.3/lib/compass/compiler.rb:101:in `each'
/Users/Enkil/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/compass-0.12.3/lib/compass/compiler.rb:101:in `block in run'
/Users/Enkil/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/compass-0.12.3/lib/compass/compiler.rb:126:in `timed'
/Users/Enkil/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/compass-0.12.3/lib/compass/compiler.rb:100:in `run'
/Users/Enkil/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/compass-0.12.3/lib/compass/commands/watch_project.rb:147:in `recompile'
/Users/Enkil/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/compass-0.12.3/lib/compass/commands/watch_project.rb:68:in `perform'
/Users/Enkil/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/compass-0.12.3/lib/compass/commands/base.rb:18:in `execute'
/Users/Enkil/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/compass-0.12.3/lib/compass/commands/project_base.rb:19:in `execute'
/Users/Enkil/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/compass-0.12.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/Enkil/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/compass-0.12.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/Enkil/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/compass-0.12.3/bin/compass:30:in `block in <top (required)>'
/Users/Enkil/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/compass-0.12.3/bin/compass:44:in `call'
/Users/Enkil/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/compass-0.12.3/bin/compass:44:in `<top (required)>'
/Users/Enkil/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/bin/compass:23:in `load'
/Users/Enkil/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"}\": expected \"}\", was \"\"\A         on line 253 of /Users/Enkil/Dropbox/Seedlets/scss/_overrides.scss\A         from line 3 of /Users/Enkil/Dropbox/Seedlets/scss/app.scss"; }
